@charset "UTF-8";
.mt154{margin-top:154px;}
.mt15{margin-top:15px;}
.pl100{padding-left:100px;}
/* Layout */
html, body {overflow:auto;background-color: #ffffff;}
.pointer_color1{color:#0061a0;}
.pointer_color2{color:#0090da;}
.container {
  position: relative;
  overflow:hidden;
  background-color: #ffffff;
}

.container .content {
  position:relative;
  width:100%;
  box-sizing:border-box;
  margin:0 auto;
  min-width:360px;
}
.container .content .btn_top {
  position:fixed;
  right:5px;
  bottom:10%;
  z-index:989;
  display:none;
}
.container .content .btn_top img{
  width:30px;
  height:auto;
}
.container .content .tab_area {
  /* position: relative; */
  position: absolute;;
  width:100%;
  height:47px;
  background-color: #f2f2f2;
  top:686px;
  left:0;
  z-index:900;
}
.container .content .tab_area.fixed {
  position:fixed;
  top:0;
  left:0;
  z-index:900;
}
.container .content .tab_area ul{
  width:calc(100% - 30px);
  height:47px;
  margin:0 auto;
  overflow:hidden;
}
.container .content .tab_area ul li{
  float:left;
  font-size: 13px;
  line-height:47px;
  cursor: pointer;
  width:calc((100% / 3) - 10px);
  height:43px;
  color:#333;
  text-align: center;
  vertical-align: middle;
  margin:0 5px;
}
.container .content .tab_area ul li.on{
  float:left;
  cursor: pointer;
  border-bottom:3.5px solid #0090da;
  color: #0090da;
  height:43px;
}
.container .content .guide_area {
  position:relative;
  width:calc(100vw - 60px);
  margin:0 auto;
  box-sizing:border-box;
  padding:13px 0;
  overflow: hidden;
  margin-top:43px;
}
.container .content .guide_area .guide_tl{
  color:#333;
  font-size:18px;
  height:19px;
  line-height: 15px;
  vertical-align: middle;
}
.container .content .guide_area .guide_con{
  color:#75787b;
  font-size:12px;
  line-height:17px;
  margin-top:20px;
}
.container .content .guide_area .guide_con ul{
  color:#aaa;
  font-size:12px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container .content .guide_area .guide_con ul li{
  color:#75787b;
  font-size:12px;
  display:block;
  line-height: 18px;
  background:url('../images/common/guide_ico_bullet1.png') 2px 5px no-repeat;
  background-size : 8px 8px;
  padding:0 0 0 12px;
  margin: 2px 0;
  font-family:'NotoSansKR_Light';
}
.container .content .guide_area .guide_con2{
  color:#75787b;
  font-size:12px;
  line-height:17px;
  margin-top:20px;
}
.container .content .guide_area .guide_con2 ul{
  color:#aaa;
  font-size:12px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container .content .guide_area .guide_con2 ul li{
  color:#75787b;
  font-size:12px;
  display:block;
  line-height:17px;
  background:url('../images/common/guide_ico_bullet2.png') 3px 7px no-repeat;
  background-size : 2px 2px;
  padding:0 0 0 8px;
  margin: 2px 0;
  font-family:'NotoSansKR_Light';
}
.container .content .guide_area .guide_con ul li.red{
  color:#db0a5b;
}
.container .content .guide_area .guide_btn{
  margin-top:60px;
}
.container .content .guide_area .guide_number{
  width:180px;
  margin: 45px 0 0 auto;
  font-size:12px;
  line-height:18px;
  text-align:right;
  padding-right:5px;
  color:#75787b;
}
.container .content .copyright{
  width:100%;
  height:135px;
  margin: 65px auto 0 auto;
  position: relative;
  background-color:#f2f2f2;
}
.container .content .copyright .copyright_sub{
  position: absolute;
  top:30px;
  left:40px;
  font-size:13px;
  line-height:18px;
  letter-spacing: 0px;
  border-left:3px solid #0090da;
  width:325px;
  padding-left:12px;
  box-sizing: border-box;
  color:#333;
  font-family:'NotoSansKR_Light';
}
.container .content .copyright .copyright_sub span{
  padding-left:20px;
  box-sizing: border-box;
}
/* 레이어팝업 */
.pop_dimmed{
  width:100vw;
  height:100vh;
  background-color: #000;
  opacity:0.4;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  position: fixed;
  top:0;
  left:0;
  z-index:990;
}
.pop_dimmed_white{
  width:100vw;
  height:100vh;
  background-color: #000;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: fixed;
  bottom:0;
  left:0;
  z-index:990;
  display:none;
}
.pop_layer{
  display:none;
}
.pop_certification_end .pop_header .btn_close,
.pop_app_end .pop_header .btn_close{
  display:none;
}
.pop_header .btn_close{
  position: absolute;
  top:12px;
  right:12px;
}
.pop_header .btn_close img{
  cursor: pointer;
  width:18px;
  height:auto;
}

.pop_perinfo_agree{
  width:100%;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}
.pop_perinfo_agree .pop_header{
  width:100%;
  height:80px;
  background-color: #0090da;
  color:#fff;
  font-size:20px;
  line-height:38px;
  padding:24px 0 0 20px;
  box-sizing: border-box;
  position: relative;
  font-family:'NotoSansKR_Bold';
}
.pop_perinfo_agree .pop_content{
  width:100%;
  padding:25px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_perinfo_agree .pop_content .agree_box2{
  margin-top:20px;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box{
  width:calc(100vw - 50px);
  height:100px;
  padding:11px 10px 10px 10px;
  box-sizing: border-box;
  background-color: #fff;
  border:1px solid #d9d9d6;
  margin:0 auto;
  overflow:auto;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner{
  width:calc(100vw - 90px);
  height:auto;
  margin:0 auto;
  color:#333;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl{
  width:100%;
  margin-left:-5px;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dt{
  margin:0 0 3px 0;
  font-size: 15px;
  line-height: 20px;
  background:url('../images/common/pop_li_bullet.png') 8px 9px no-repeat;
  background-size : 4px 4px;
  padding:0 0 0 17px;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dt span{
  line-height: 50px;
  vertical-align: top;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dd{
  padding:0 0 0 19px;
  font-size: 13px;
  line-height: 18px;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dd.con{
  padding:0 0 0 19px;
  font-size: 12px;
  line-height: 16px;
  font-family:'NotoSansKR_Light';
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dd.con ol{
  list-style-type: decimal;
  margin-left:11px;
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dd.con ol li{
  font-size: 12px;
  line-height: 16px;
  font-family:'NotoSansKR_Light';
}
.pop_perinfo_agree .pop_content .perinfo_agree_box .box_inner dl dd.con ol li span{
  font-size: 13px;
  line-height: 18px;
  font-family:'NotoSansKR_Normal';
}
.pop_perinfo_agree .pop_content .box_btn_area{
  width:calc(100vw - 50px);
  height:33px;
  padding:0 20px;
  box-sizing: border-box;
  background-color: #d9d9d6;
  border:1px solid #d9d9d6;
  margin:0 auto;
  line-height:32px;
  vertical-align: middle;
  overflow:hidden;
}
.pop_perinfo_agree .pop_content .box_btn_area .box_btn_left{
  float:left;
  font-size: 13px;
}
.pop_perinfo_agree .pop_content .box_btn_area .box_btn_right{
  float:right;
  background:url('../images/common/pop_ico_agree_bg.png') no-repeat;
  background-size: 17px 34px;
  background-position: 0 1px;
  width:48px;
  height:18px;
  padding:0 0 0 20px;
  font-size: 13px;
  line-height: 17px;
  vertical-align: middle;
  margin-top:7px;
  font-family:'NotoSansKR_Light';
  cursor: pointer;
}
.pop_perinfo_agree .pop_content .box_btn_area .box_btn_right.active{
  background-position: 0 -16px;
}
.pop_perinfo_agree .pop_content .btn_agreee_all{
  width:calc(100vw - 50px);
  height:39px;
  line-height: 20px;
  background-color: #0090da; 
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color:#fff;
  cursor: pointer;
  margin: 20px auto 0 auto;
  letter-spacing: -2px;
  border-radius: 5px;
  position: relative;
  padding:9px 0 0 0;
  box-sizing: border-box;
}
.pop_perinfo_agree .pop_content .btn_agreee_all img{
  line-height: 17px;
  vertical-align: top;
  padding:2px 0 0 5px;
  width:17px;
  height:17px;
}
.pop_perinfo_agree .pop_content .num_area{
  width:calc(100vw - 50px);
  height:auto;
  line-height: 15px;
  font-size: 12px;
  color:#333;
  margin: 8px auto 0 auto;
  text-align: right;
  padding-right:3px;
  box-sizing: border-box;
}

/* 
.pop_perinfo_agree .pop_content{
  width:100%;
  padding:20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_perinfo_agree .pop_content ul{
  width:calc(100vw - 35px);
  margin: 0 auto 0 -12.5px;
  box-sizing: border-box;
}
.pop_perinfo_agree .pop_content ul li{
  margin:0 0 15px 0;
  font-size: 13px;
  line-height: 18px;
  background:url('../images/common/pop_li_bullet.png') 12px 7px no-repeat;
  background-size : 4px 4px;
  padding:0 0 0 20px;
}
.pop_perinfo_agree .pop_content ul li .pop_btn_long{
  width:100%;
  height:46px;
  line-height: 46px;
  background-color: #0090d9; 
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color:#fff;
  font-family:'NotoSansKR_Bold';
  cursor: pointer;
  margin: 15px auto 0 auto;
  border-radius: 3px;
}
.pop_perinfo_agree .pop_content ul li .pop_btn_long img{
  vertical-align: middle;
  margin:0 0 2px 6px;
}
.pop_perinfo_agree .pop_content ul li .agree_area{
  width:100%;
  overflow: hidden;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_text{
  float: left;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_radio{
  float: right;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_radio dl{
  width:124px;
  overflow: hidden;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_radio dl dt{
  width:16px;
  float: left;
  margin:0 0 0 4px;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_radio dl dt input{
  width:14px;
  height:14px;
  cursor: pointer;
}
.pop_perinfo_agree .pop_content ul li .agree_area .agree_radio dl dd{
  float: left;
  font-size:12px;
  margin-left:7px;
}
.pop_perinfo_agree .pop_content ul li .agree_detail{
  width:100%;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_con{
  font-size:12px;
  line-height:15px;
  font-family:'NotoSansKR_Light';
  margin:1px 0 4px 0;
  letter-spacing: -1.3px;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_warning{
  font-size:12px;
  line-height:15px;
  font-family:'NotoSansKR_Light';
  margin:4px 0;
  letter-spacing: -1.4px;
  padding-left:15px;
  box-sizing: border-box;
  background:url('../images/common/pop_ico_warning.png') 0px 3px no-repeat;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_table{
  width:100%;
  margin:8px 0 5px 0;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_table table{
  border:1px solid #0d96dc
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_table table th{
  border-bottom:1px solid #88cbee;
  background-color: #0090da;
  color:#fff;
  padding:8px 0 8px 8px;
  font-family:'NotoSansKR_Light';
  font-size:13px;
  vertical-align: middle;
  text-align:left;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_table table td{
  border-bottom:1px solid #88cbee;
  padding:5px 0 5px 8px;
  font-family:'NotoSansKR_Light';
  font-size:13px;
  letter-spacing: -2px;
  line-height: 18px;
  vertical-align: middle;
  text-align:left;
}
.pop_perinfo_agree .pop_content ul li .agree_detail .detail_table table td.bold{
  font-family:'NotoSansKR_Bold';
} */
/* 본인인증 */
.pop_certification{
  width:100%;
  height:400px;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}
.pop_certification .pop_header{
  width:100%;
  height:80px;
  background-color: #0090da;
  color:#fff;
  font-size:20px;
  line-height:24px;
  padding:16px 20px;
  box-sizing: border-box;
  position: relative;
  font-family:'NotoSansKR_Bold';
}

.pop_certification .pop_content{
  width:100%;
  height:310px;
  padding:20px 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_certification .pop_content .pop_tl{
  color:#333;
  font-size:18px;
}
.pop_certification .pop_content .con_box{
  width:100%;
  height:152px;
  padding:22px;
  box-sizing: border-box;
  background-color: #fff;
  margin:10px auto 0 auto;
}
.pop_certification .pop_content .con_box .agree_check_area{
  color:#333;
  font-size:16px;
}
.pop_certification .pop_content .con_box .agree_check_area dl{
  overflow:hidden;
  width:320px;
  font-family:'NotoSansKR_Light';
  margin:0;
  padding:0;
}
.pop_certification .pop_content .con_box .agree_check_area dl.none{
  margin-top:-5px;
}
.pop_certification .pop_content .con_box .agree_check_area dl.agree_text{
  margin-top:12px;
}
.pop_certification .pop_content .con_box .agree_check_area dl dt{
  float:left;
  width:22px;
}
.pop_certification .pop_content .con_box .agree_check_area dl dt.none{
  width:22px;
  height:1px;
}
.pop_certification .pop_content .con_box .agree_check_area dl dt input{
  width:16px;
  height:16px;
}
.pop_certification .pop_content .con_box .agree_check_area dl dd{
  float:left;
}
.pop_certification .pop_content .con_box .agree_check_area dl dd.checkbox_text{
  line-height: 18px;
  vertical-align: middle;
  font-family:'NotoSansKR_Light';
  font-size:13px;
}
.pop_certification .pop_content .con_box .agree_check_area dl dd a{
  font-size:12px;
  color:#007abc;
  font-family:'NotoSansKR_Light';
}
.pop_certification .pop_content .con_box .agree_check_area dl dd a:after {
  content: '';
  height: 1px;
  background-color: #007abc; 
  display:block;
  /* margin-top: 1px; */
}
.pop_certification .pop_content .con_box .agree_check_area dl dd.con_text{
  font-size:12px;
  color:#333;
  font-family:'NotoSansKR_Light';
  line-height: 16px;
}
.pop_certification .pop_content .pop_btn{
  width:200px;
  height:42px;
  line-height: 42px;
  background-color: #0090d9; 
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color:#fff;
  font-family:'NotoSansKR_Bold';
  cursor: pointer;
  margin: 28px auto 0 auto;
}

/* 본인인증완료 */
.pop_certification_end{
  width:100%;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}
.pop_certification_end .pop_header{
  width:100%;
  height:80px;
  background-color: #0090da;
  color:#fff;
  font-size:20px;
  line-height:38px;
  padding:24px 0 0 20px;
  box-sizing: border-box;
  position: relative;
  font-family:'NotoSansKR_Bold';
}

.pop_certification_end .pop_content{
  width:100%;
  height:265px;
  padding:33px 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_certification_end .pop_content .con_box{
  width:286px;
  height:100px;
  margin:0 auto;
}
.pop_certification_end .pop_content .con_box dl{
  width:286px;
  overflow:hidden;
  font-size:16px;
  margin:10px 0;
}
.pop_certification_end .pop_content .con_box dl dt{
  float:left;
  width:100px;
}
.pop_certification_end .pop_content .con_box dl dt.name span{
  letter-spacing: 55px;
}
.pop_certification_end .pop_content .con_box dl dt.phone_number span{
  letter-spacing: 7px;
}
.pop_certification_end .pop_content .con_box dl dt.sexage span{
  letter-spacing: 0.8px;
}
.pop_certification_end .pop_content .con_box dl dd{
  float:left;
  letter-spacing: 3px;
}
.pop_certification_end .pop_content .pop_btn{
  width:200px;
  height:42px;
  line-height: 42px;
  background-color: #0090d9; 
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color:#fff;
  font-family:'NotoSansKR_Bold';
  cursor: pointer;
  margin: 35px auto 0 auto;
}

/* 본인인증완료 */
.pop_app_end{
  width:100%;
  height:auto;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}

.pop_app_end .pop_header{
  width:100%;
  height:80px;
  background-color: #0090da;
  color:#fff;
  font-size:20px;
  line-height:38px;
  padding:24px 0 0 20px;
  box-sizing: border-box;
  position: relative;
  font-family:'NotoSansKR_Bold';
}

.pop_app_end .pop_content{
  width:100%;
  height:265px;
  padding:33px 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_app_end .pop_content .con_box{
  width:286px;
  height:100px;
  margin:10px auto;
  font-size:16px;
  text-align: center;
  line-height: 24px;
}
.pop_app_end .pop_content .pop_btn{
  width:200px;
  height:42px;
  line-height: 42px;
  background-color: #0090d9; 
  text-align:center;
  vertical-align: middle;
  font-size: 18px;
  color:#fff;
  font-family:'NotoSansKR_Bold';
  cursor: pointer;
  margin: 35px auto 0 auto;
}
/* 본인인증동의문 */
.pop_agree_doc{
  width:100%;
  height:440px;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:999;
}

.pop_agree_doc .pop_header{
  width:100%;
  height:80px;
  background-color: #0090da;
  color:#fff;
  font-size:20px;
  line-height:38px;
  padding:24px 0 0 20px;
  box-sizing: border-box;
  position: relative;
  font-family:'NotoSansKR_Bold';
}

.pop_agree_doc .pop_content{
  width:100%;
  height:auto;
  padding:25px 15px 12px 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.pop_agree_doc .pop_content ul{
  width:calc(100vw - 35px);
  margin: 0 auto 0 -4.5px;
  box-sizing: border-box;
}
.pop_agree_doc .pop_content ul li{
  margin:0 0 18px 0;
  font-size: 14px;
  line-height: 19px;
  background:url('../images/common/pop_li_bullet.png') 12px 7px no-repeat;
  background-size : 4px 4px;
  padding:0 0 0 20px;
  letter-spacing: -1.3px;
  font-family:'NotoSansKR_Light';
}
.container .bottom_btn{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: #a4ce4e; 
    text-align:center;
    vertical-align: middle;
    font-size: 20px;
    color:#333;
    font-family:'NotoSansKR_Bold';
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: -2px;
    border-radius: 5px;
    overflow:hidden;
    transform: translateY(60px);
    transition-duration: .1s;
    z-index:992;
}
.container .bottom_btn.active{
  position: fixed;
  bottom:0;
  left:0;
  transform: translateY(0);
  transition-duration: .5s;
}
.container .bottom_btn.reactive{
  position: fixed;
  bottom:0;
  left:0;
  transform: translateY(390px);
  transition-duration: .1s;
}
 .container .bottom_btn .bottom_rolling_area{
    width:100%; 
    height:60px; 
    line-height: 60px;
    vertical-align: middle;
    overflow:hidden; 
    position: absolute;
    top:0px;
    left:0;
}
.container .bottom_btn .bottom_rolling_area .bottom_rolling{
    position:relative; 
    width:100%; 
    height:auto;}
.container .bottom_btn .bottom_rolling_area .bottom_rolling li{
    width:100%; 
    height:60px; 
    line-height: 60px;
    vertical-align: middle;
    font-family:'NotoSansKR_Bold';
}
.container .layer_box{
  width:100%;
  height:350px;
  position: fixed;
  bottom:0px;
  left:0;
  z-index:992;
  transform: translateY(350px);
  transition-duration: .4s;
}
.container .layer_box.active{
  position: fixed;
  bottom:0px;
  left:0;
  transform: translateY(0);
  transition-duration: .5s;
}
.container .layer_box .layer_box_area{
  width:100%;
  height:290px;
  background-color: #0090da;
  margin:0 auto;
  padding:25px 39px;
  box-sizing:border-box;
  border-radius: 5px;
  position: relative;
}
.container .layer_box .layer_box_area .btn_close{
  position: absolute;
  top:14px;
  right:14px;
}
.container .layer_box .layer_box_area .btn_close img{
  width:18px;
  height:auto;
}

.container .layer_box .layer_box_area .box_area_tl{
  font-size:20px;
  color:#fff;
  line-height:25px;
  font-family:'NotoSansKR_Bold';
  text-align: center;
}
.container .layer_box .layer_box_area .box_area_info{
  width:calc(100%-76px);
  margin:25px auto 0 auto;
}
.container .layer_box .layer_box_area .box_area_info dl{
  width:100%;
  overflow:hidden;
  margin:5px auto 0 auto;
  padding:0;
}
.container .layer_box .layer_box_area .box_area_info dl dt{
  width:0px;
  height:0px;
}
.container .layer_box .layer_box_area .box_area_info dl dd{
  width:100%;
  margin:0;
  padding:0;
}
.container .layer_box .layer_box_area .box_area_info dl dd div{
  width: calc(50% - 3px);
  float:left;
 }
.container .layer_box .layer_box_area .box_area_info dl dd.full div{
  float:left;
  width:auto;
  font-size:12px;
  height:21px;
  line-height: 21px;
  vertical-align: middle;
  margin-right:3px;
 } 
 .container .layer_box .layer_box_area .box_area_info dl dd.full div:last-child{
  margin-right:0px;
 } 
.container .layer_box .layer_box_area .box_area_info dl dd div:nth-child(1){
  margin-right:5px;
}
.container .layer_box .layer_box_area .box_area_info dl dd div input{
  border:1px solid #e3e3e3;
  color:#75787b;
  font-size:14px;
  width:100%;
  height:34px;
  line-height:34px;
  vertical-align: middle;
}
.container .layer_box .layer_box_area .box_area_info dl dd div input.chk_box{
  border:1px solid #e3e3e3;
  width:18px;
  height:18px;
  line-height:18px;
  vertical-align: middle;
  margin:0;
  padding:0;
  background-color: #fff;
}
.container .layer_box .layer_box_area .box_area_info dl dd div select{
  width:100%;
  color:#75787b;
  font-size:14px;
  height:34px;
  line-height:34px;
  vertical-align: middle;
  margin:0;
  padding:0 0 0 7px;
}
.container .layer_box .layer_box_area .box_area_info dl dd.full div a.agree_view{
  width:98px;
  height:21px;
  border:1px solid #007abc;
  color:#007abc;
  font-size:12px;
  background-color: #fff;
  margin-left:9px;
  text-align: center;
  overflow:hidden;
  padding:0px 4px 2px 4px;
}
.container .layer_box .layer_box_btn{
  width:100%;
  height:60px;
  line-height: 60px;
  background-color: #a4ce4e; 
  text-align:center;
  vertical-align: middle;
  font-size: 20px;
  color:#333;
  font-family:'NotoSansKR_Bold';
  cursor: pointer;
  margin: 0 auto;
  letter-spacing: -2px;
  border-radius: 5px;
  overflow:hidden;
  position: relative;
}
.container .layer_box .layer_box_btn .bottom_rolling_area{
  width:100%; 
  height:20px; 
  overflow:hidden; 
  position: absolute;
  top:20px;
  left:0;
}
.container .layer_box .layer_box_btn .bottom_rolling_area .bottom_rolling{
  position:relative; 
  width:100%; 
  height:auto;}
  .container .layer_box .layer_box_btn .bottom_rolling_area .bottom_rolling li{
  width:100%; 
  height:20px; 
  line-height:20px;
}