@charset "UTF-8";
.container{width:100%;min-width:320px;height:auto;margin:0 auto;}

/* 키비주얼 */
.container .kv_area{width:100%;position: relative;}
.container .kv_area .slider_kv{width:100%;height:auto;}
/* .container .kv_area .slider_kv .kv01{width:100%;height:auto;background: url('../images/kv_bg_pm.jpg') top center no-repeat;position: absolute;top:0;left:0;background-size: cover;}
.container .kv_area .slider_kv .kv02{width:100%;height:auto;background: url('../images/kv_bg_am.jpg') top center no-repeat;position: absolute;top:0;left:0;background-size: cover;}
.container .kv_area .slider_kv .kv03{width:100%;height:auto;background: url('../images/kv_bg_dusk.jpg') top center no-repeat;position: absolute;top:0;left:0;background-size: cover;} */
.container .kv_area .slider_kv .kv01{width:100%;height:auto;position: absolute;top:0;left:0;}
.container .kv_area .slider_kv .kv01 img{width:100%;height:auto;}
.container .kv_area .slider_kv .kv02{width:100%;height:auto;position: absolute;top:0;left:0;}
.container .kv_area .slider_kv .kv02 img{width:100%;height:auto;}
.container .kv_area .slider_kv .kv03{width:100%;height:auto;position: absolute;top:0;left:0;}
.container .kv_area .slider_kv .kv03 img{width:100%;height:auto;}
.container .kv_area .btn_area{position: absolute;bottom:0px;left:50%;transform: translateX(-50%);width:100%;}
.container .kv_area .btn_area ul{overflow: hidden;width:calc(100% - 34px);margin:0 auto;}
.container .kv_area .btn_area ul li{float:left;width:calc(50% - 3px);}
.container .kv_area .btn_area ul li:last-child{float:right;}
.container .kv_area .btn_area ul li img{width:100%;height:auto;}

/* 로고영역 */
.container .top_area{width:calc(100% - 40px);overflow: hidden;position: absolute;top:12px;left:20px;}
.container .top_area h1{float:left;}
.container .top_area h2{float:right;padding-top:7px;}

/* 키비주얼하단 */
.container .kv_sub_area{width:100%;height:auto;}
.container .kv_sub_area img{width:100%;height:auto;}

/* 해외주식이벤트 */
.container .event_area{width:100%;}
.container .event_area h3{width:100%;}
.container .event_area h3 img{width:100%;height:auto;}
.container .event_area .con_area{width:100%;position: relative;}
.container .event_area .con_area img{width:100%;height:auto;}
.container .event_area .con_area .btn_area{position: absolute;left:50%;transform: translateX(-50%);width:56%;height:auto;}
.container .event_area .con_area.con01 .btn_area{top:72%;}
.container .event_area .con_area.con02 .btn_area{top:72%;}
.container .event_area .con_area.con03 .btn_area{top:66.2%;}

/* 안내서 */
.container .guide_area{width:100%;}
.container .guide_area h3{margin:0 auto;}
.container .guide_area h3 img{width:100%;height:auto;}
.container .guide_area .con_area{width:100%;margin:0 auto;position: relative;background:transparent;}
.container .guide_area .con_area img{width:100%;height:auto;}
.container .guide_area .con_area .slide_area{position: absolute;top:2%;left:3.8%;width:92%;height:95%;}
/* 스와이퍼 */
.swiper-container {width: 92%;height: auto;position: relative;}
.swiper-container .swiper-pagination {position: absolute;top:77.5%;left:50%;transform: translateX(-50%);width:70%;height:auto;}
.swiper-container .swiper-pagination .swiper-pagination-bullet {border-radius: 0;text-align: center;opacity: 1;float:left;overflow:hidden;text-align:center;width:25%;height:88%;margin:0 4.16%;padding:0;outline: 0;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(1) {padding: 0px;border-radius: 0;width: 0;height: 0;opacity:0;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(2) {background: url('../images/sec2_thum1.png') 50% 50% no-repeat;background-size: 98% 98%;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(3) {background: url('../images/sec2_thum2.png') 50% 50% no-repeat;background-size: 100% 100%;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4) {background: url('../images/sec2_thum3.png') 50% 50% no-repeat;background-size: 98% 98%;}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {border:0;outline: 0;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active {background: url('../images/sec2_thum1on.png') 50% 50% no-repeat;background-size: 98% 98%;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active {background: url('../images/sec2_thum2on.png') 50% 50% no-repeat;background-size: 100% 100%;}
.swiper-container .swiper-pagination .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active {background: url('../images/sec2_thum3on.png') 50% 50% no-repeat;background-size: 98% 98%;}

/* 해외주식혜택 */
.container .benefit_area{width:100%;}
.container .benefit_area h3{margin:0 auto;}
.container .benefit_area h3 img{width:100%;height:auto;}
.container .benefit_area .con_area{width:100%;margin:0 auto;position: relative;}
.container .benefit_area .con_area img{width:100%;height:auto;}
.container .benefit_area .con_area .btn_area {width:88.8%;position: absolute;bottom:5%;left:50%;transform: translateX(-50%);}
.container .benefit_area .con_area .btn_area ul{overflow:hidden;width:100%;}
.container .benefit_area .con_area .btn_area ul li{float:left;width:calc(50% - 7px);}
.container .benefit_area .con_area .btn_area ul li img{width:100%;height:auto;}
.container .benefit_area .con_area .btn_area ul li:last-child{float:right;}

/* 이벤트유의사항 */
.container .note_area{width:100%;}
.container .note_area img{width:100%;height:auto;}

/* APP다운로드 */
.container .app_download_area{width:100%;position: relative;}
.container .app_download_area img{width:100%;height:auto;}
.container .app_download_area .btn_download{width:89%;position: absolute;top:44%;left:50%;transform: translateX(-50%);} 
.container .app_download_area .btn_download ul{overflow:hidden;} 
.container .app_download_area .btn_download ul li{float:left;width:calc(50% - 6px);}
.container .app_download_area .btn_download ul li img{width:100%;height:auto;}
.container .app_download_area .btn_download ul li:last-child{float:right;}

/* Footer */
.container .footer_area{width:100%;}
.container .footer_area img{width:100%;height:auto;}

/* 상단스티키버튼 */
.container .sticky_btn{width:100%;position: fixed;top:-300px;left:0px;transition: .3s;z-index:999;}
.container .sticky_btn img{width:100%;height:auto;}
.container .sticky_btn.active{top:0px;transition: .5s}
.container .sticky_btn .btn_area{width:100%;position: absolute;top:0;left:50%;transform: translateX(-50%);}
.container .sticky_btn .btn_area .btn{float:left; width:50%;}
.container .sticky_btn .btn_area .btn img{width:100%;height:auto;}